In [1]:
import pandas as pd

In [2]:
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df = tables[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
df_2 = df[~df['Borough'].str.contains('Not assigned')]
df_2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [4]:
for i in range(df_2.shape[0]):
    if df_2.iloc[i,:]['Neighbourhood']=='Not assigned':
        df_2.iloc[i,:]['Neighbourhood'] = df_2.iloc[i,:]['Borough']
df_2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [5]:
# 4. combine rows with the same postcode
def join_value(df):
    return ','.join(df.values)

df_3 = df_2.groupby(['Postcode','Borough'])['Neighbourhood'].apply(join_value)
df_3 = pd.DataFrame(df_3)
df_3.head()

                                             Neighbourhood
Postcode Borough
M1B      Scarborough                         Rouge,Malvern
M1C      Scarborough  Highland Creek,Rouge Hill,Port Union
M1E      Scarborough       Guildwood,Morningside,West Hill
M1G      Scarborough                                Woburn
M1H      Scarborough                             Cedarbrae

In [6]:
df_3.shape

(103, 1)